.about_me_container {
    font-family: 'Quattrocento', serif;
    padding-left: 8vw;
    height: 46rem;
}

.about_me_header {
    font-size: 3em;
    padding-bottom: 4rem;
}

.about_me_right_container {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-top: 2rem;
    line-height: 2em;
    width: 41vw;
}

.about_me_container_box {
    display: flex;
    justify-content: space-between;
}

.link_text {
    color: inherit;
}

.link_text:hover {
    color: inherit;
}

.link_text_highlight {
    color: inherit;
}

.link_text_highlight:hover {
    color: inherit;
}

.link_text_highlight
{
    position: relative;
}

.link_text_highlight:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.link_text_highlight:hover:before {
    visibility: visible;
    width: 100%;
}

.image_box {
    padding-right: 4vw;
}