.projects_container {
    font-family: 'Quattrocento', serif;
    padding-left: 8vw;
    height: 46rem;
}

.project_header {
    font-size: 3em;
    padding-bottom: 1rem;
}

.projects_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 8vw;
    margin-left: -1vw;
    /* background-color: red; */
}

.projects_box_mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0vw;
    margin-left: -1vw;
    /* background-color: red; */
}

.project_box {
    width: 37vw;
    margin-bottom: 1rem;
    /* background-color: red; */
}

.project_box:hover {
    background-color: #222831;
    color: white;
}

.project_box_mobile {
    width: 86vw;
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0vw;
}

.project_text {
    font-family: 'Poppins', sans-serif;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
}

.project_text_mobile {
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
}

.project_title {
    font-family: 'Quattrocento', serif;
    font-size: 1.7em;
    margin-bottom: 1rem;
}

.project_description {
    margin-bottom: 1rem;
    line-height: 1.7em;
}

.project_description_mobile {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    margin-bottom: 0.2rem;
    line-height: 1.7em;
    /* font-size: 0.9em;
    margin-bottom: 1rem; */
}

.project_info {
    padding-bottom: 1rem;
    opacity: 0.6;
}

/* .project_info_mobile {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0.4rem;
    font-size: .8em;
    opacity: 0.6;
} */

.light_icons {
    display: flex;
    flex-direction: row;
}

.dark_icons {
    display: none;
}

.project_box:hover .dark_icons {
    display: flex;
    flex-direction: row;
}

.project_box:hover .light_icons {
    display: none;
}

.icons_parent {
    display: flex;
    flex-direction: column;
}

.icons_box {
    margin-right: 1vw;
}

.icons_parent .tooltiptext {
    visibility: hidden;
    /* width: 4vw; */
    background-color: #faf9f9;
    color: #222831;
    text-align: center;
    padding: 4px 7px;
    position: absolute;
    z-index: 1;
    /* margin-bottom: 7vw; */
    margin-left: 2.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.icons_parent:hover .tooltiptext {
    visibility: visible;
}

.project_images {
    width: 36px;
    height: 36px;
}

@media screen and (min-width: 1816px) {


}
@media screen and (max-height: 821px) {

    .projects_container {
        height: 40rem;
    }

    .project_header {
        padding-bottom: 2rem;
    }

    .project_box {
        margin-bottom: 0rem;
        /* background-color: red; */
    }

    @media screen and (max-width: 1813px) {
        
        .project_box {
            /* width: 37vw; */
            margin-bottom: 0rem;
            /* background-color: red; */
        }

        .project_info {
            padding-bottom: 0.3rem;
            opacity: 0.6;
        }

        .project_title {
            /* font-family: 'Quattrocento', serif; */
            font-size: 1.7em;
            margin-bottom: 0.7rem;
        }
    }

    @media screen and (max-width: 1792px) {
        
        .project_box {
            /* width: 37vw; */
            margin-bottom: 0rem;
            /* background-color: red; */
        }

        .project_info {
            padding-bottom: 0.2rem;
        }

        .project_title {
            /* font-family: 'Quattrocento', serif; */
            font-size: 1.6em;
            margin-bottom: 0.6rem;
        }

        .project_description {
            margin-bottom: 0.5rem;
        }
    }
}


@media screen and (max-height: 858px) {

    @media screen and (max-width: 1758px) {
        
        .project_box {
            /* width: 37vw; */
            margin-bottom: 0rem;
            /* background-color: red; */
        }

        .project_info {
            padding-bottom: 0.5rem;
        }
    }
}

@media screen and (max-height: 785px) {

    @media screen and (max-width: 1758px) {
        
        .project_box {
            /* width: 37vw; */
            margin-bottom: 0rem;
            /* background-color: red; */
        }

        .project_info {
            padding-bottom: 0.1rem;
            font-size: 0.7em;
        }
    }
}

@media screen and (max-height: 796px) {

    @media screen and (max-width: 1410px) {
        
        .project_box {
            /* width: 37vw; */
            margin-bottom: 0rem;
            /* background-color: red; */
        }

        .project_info {
            padding-bottom: 0.3rem;
            font-size: 0.7em;
            opacity: 0.6;
        }

        .project_title {
            /* font-family: 'Quattrocento', serif; */
            font-size: 1.7em;
            margin-bottom: 0.7rem;
        }
    }
}

@media screen and (max-height: 756px) {

    .projects_container {
        height: 37rem;
    }

    .project_header {
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
        font-size: 2.5em;
    }

    .project_box {
        margin-bottom: 0rem;
        /* background-color: red; */
    }

    .project_text {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .project_title {
        font-size: 1.5em;
        margin-bottom: 0.7rem;
    }

    .project_info {
        padding-bottom: 1rem;
        opacity: 0.6;
    }

    .project_description {
        margin-bottom: 0.7rem;
        line-height: 1.7em;
        font-size: 0.9em;
    }
}

@media screen and (max-height: 656px) {

    .project_info {
        padding-bottom: 0.5rem;
        font-size: 0.8em;
    }

    .project_description {
        margin-bottom: 0.2rem;
    }

    .project_images {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-height: 610px) {

    .projects_container {
        height: 26rem;
    }

}

@media screen and (min-width: 1580px) {

    @media screen and (max-height: 820px) {
    
        /* .projects_container {
            height: 38rem;
        }

        .project_header {
            font-size: 2.5em;
        }

        .project_box {
            margin-bottom: 0.6rem;
        } */
    }
}

@media screen and (max-width: 1510px) {

    .projects_container {
        height: 35rem;
    }

    @media screen and (height: 1366px) {
    
        .projects_container {
            height: 71rem;
        }
    }

    @media screen and (height: 1024px) {
    
        .projects_container {
            height: 44rem;
        }
    }

    @media screen and (max-height: 960px) {

        .projects_container {
            height: 41rem;
        }
    }

    @media screen and (max-height: 900px) {
    
        .projects_container {
            height: 44rem;
        }

        .project_header {
            margin-bottom: 1rem;
        }
    }

    @media screen and (max-height: 837px) {
    
        .projects_container {
            height: 41rem;
        }
    }

    @media screen and (max-height: 760px) {
    
        .projects_container {
            height: 35rem;
        }

        .project_header {
            font-size: 2.5em;
            padding-bottom: 0;
        }

        .project_box {
            margin-bottom: 0.6rem;
        }
    }

    .project_header {
        font-size: 2.7em;
        /* padding-bottom: 3rem; */
    }

    .project_title {
        margin-bottom: 0.8rem;
        font-size: 1.5em;
    }

    .project_info {
        padding-bottom: 0.8rem;
    }

    .project_description {
        font-size: 0.8em;
        margin-bottom: 0.8rem;
    }

    .project_images {
        width: 30px;
        height: 30px;
    }

    .project_box {
        margin-bottom: 0.7rem;
    }
}

@media screen and (max-width: 1092px) {

    .project_header {
        font-size: 2.5em;
    }

    .project_title {
        margin-bottom: 0.6rem;
        font-size: 1.3em;
    }

    .project_info {
        line-height: 1.5em;
        padding-bottom: 0.6rem;
        font-size: 0.7em;
    }

    .project_description {
        margin-bottom: 0.6rem;
    }

    .project_images {
        width: 25px;
        height: 25px;
    }

    .project_box {
        margin-bottom: 0.7rem;
    }
}

@media screen and (max-width: 882px) {

    .project_description {
        font-size: 0.6em;
        margin-bottom: 0.6rem;
    }

    .project_info {
        font-size: 0.6em;
    }

    .project_box {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 664px) {

    .project_header {
        font-size: 2.2em;
        padding-bottom: 2rem;
    }

    .project_title {
        margin-bottom: 0.4rem;
        font-size: 1.1em;
    }

    .project_info {
        padding-bottom: 0.4rem;
    }

    .project_description {
        font-size: 0.5em;
        margin-bottom: 0.6rem;
    }

    .project_images {
        width: 20px;
        height: 20px;
    }

    .project_box {
        margin-bottom: 0.3rem;
    }
}

@media screen and (max-width: 414px) {

    .projects_container {
        height: 35rem;
    }

    .project_header {
        font-size: 1.9em;
        padding-bottom: 1rem;
    }

    /* .project_images {
        width: 30px;
        height: 30px;
    } */

    /* .project_title {
        margin-bottom: 0.4rem;
        font-size: 0.9em;
    }

    .project_info {
        padding-bottom: 0.3rem;
    }

    .project_description {
        font-size: 0.4em;
        margin-bottom: 0.5rem;
    }

    .project_box {
        margin-bottom: 0.2rem;
    } */
}